@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply cursor-default
	fixed
	z-50
	top-[30px]
	left-1/2
	flex
	items-start
	w-auto
	h-auto
	p-[10px]
	rounded-[8px]
	text-light-100;

  transform: translate3d(-50%, 0, 0);
  opacity: 1;
  animation: fade-in 0.5s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.success {
  @apply bg-success-500;
}

.error {
  @apply bg-danger-500;
}

.message {
  @apply table
	mx-auto

	text-regular_16
	text-center;
}

.cross {
  @apply cursor-pointer
	float-right
	pt-[5px]
	ml-3;
}
